.header_contents{
  display: flex;
  justify-content: space-around;
  width: 800px;
  margin: 0 auto;
}

header{
  background-color: rgba(102, 102, 102, 0.096);
  height: 100px;
  padding-top: 20px;
}

.header_contents{
  width: 1000px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.topBack{
  display: flex;
}

.icon{
  width: 300px;
}

.iconTitle{
  font-size: 30px;
  margin: 0px;
  margin-left: 20px;
}

.all_body{
  position: absolute;
  margin-top: 90px;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.userName,.cart_a{
  font-size: 20px;
}

.userName:hover,.cart_a:hover{
  color: rgba(255, 155, 25, 0.808);
}

.userContents{
  list-style: none;
  position: absolute;
  margin: 0;
  background-color: #ffffff;
  top: -250px;
  width: 180px;
  padding-right: 15px;
  z-index: 2;
}

.userContents > li > a:hover{
  color: rgba(255, 155, 25, 0.808);
  border-bottom: 1px solid rgba(255, 155, 25, 0.808);
}

.userContents:before{
  content: "";
  position: absolute;
  top: -30px;
  left: 30%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #ffffff;
}

.userContents > li{
  padding: 10px 0;
}

#search_bar{
  padding: 10px 15px;
}

#submit{
  padding: 10px;
}

#cart_tag{
  padding-left: 40px;
}

a{
  color: #333;
  text-decoration: none;
}

.book_contents{
  display: flex;
}

*{
  min-height: 0;
  min-width: 0;
}

.slider{
  width: 800px;
  opacity: 0;
  transition: opacity .3s linear;
  margin-left: 50px;
}

.subList{
  padding-left: 20px;
  padding-bottom: 10px;
}

h2{
  margin-left: 20px;
}

.genre{
  width: 300px;
  border-right: 1px solid rgba(0,0,255,0.3);
}

.sub_genre{
  list-style: none;
  padding: 0px;
}

.genreList{
  text-decoration: none;
  color: #333;
}

.genreList:hover{
  color: rgba(255, 155, 25, 0.808);
}

.genreTitle{
  font-size: 30px;
  margin-left: 20px;
}

.slider.slick-initialized{
  opacity: 1; 
}
