html{
  font-size: 100%;
}

body{
  margin:0;
  display: grid;
  grid-template: 
  "... ...... ...... ...... ...... ...... ..." 
  "... header header header header header ..." 100px 
  "... ...... ...... ...... ...... ...... ..."  100px
  "... left   ...... center ...... right  ..."  1fr
  "... ...... ...... ...... ...... ...... ..." 
  "... footer footer footer footer footer ..." 50px
  "... ...... ...... ...... ...... ...... ..." 
  /auto 100px auto minmax(400px,1fr) auto 100px auto;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
  "ヒラギノ角ゴ Pro W3", sans-serif;
}

header{
  grid-area: header;
}

main{
  grid-area: center;
}

a{
  color: #000;
}

.login-Info{
  max-width: 400px;
  margin: 0 auto;
}

.loginForm{
  border: 1.5px solid rgba(0,0,255,0.3);
  border-radius: 1%;
  max-width: 400px;
  padding: 0 0 30px 40px;
}

.input_form{
  width: 300px;
  height: 30px;
}

.login-Button{
  /* background-color: rgb(250, 203, 117); */
  font-size: 25px;
  width: 300px;
  /* border: orange solid 1px ; */
  outline: none;
  margin-top: 20px;
}

.a-divider {
  display: flex;
  align-items: center;
  color: rgba(126, 126, 126, 0.719);
  margin: 15px 0;
}

.a-divider::before,
.a-divider::after {
  content: '';
  height: 1px;
  background-color: rgba(202, 197, 197, 0.719);
  flex-grow: 1;
}
.a-divider::before {
  margin-right: 1rem;
}
.a-divider::after {
  margin-left: 1rem;
}

.a-button-inner{
  display: inline-block;
  background-color: #f1f1f1;
  width: 400px;
  border: 1.5px solid rgba(0,0,255,0.3);
  border-radius: 1%;
  text-align: center;
  padding: 10px 0;
}

.createAccountSubmit{
  font-size: 20px;
  text-decoration: none;
}

footer{
  grid-area: footer;
}