body{
  margin: 0;
  display: grid;
  grid-template: 
  "...... ...... ...... ...... ......"
  "...... header header header ......"  50px
  "...... ...... ...... ...... ......"
  "...... center center center ......"  250px
  "...... ...... ...... ...... ......"
  "...... footer footer footer ......"  100px
  "...... ...... ...... ...... ......"
  / auto  auto   minmax(400px,450px)   auto   auto;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
  "ヒラギノ角ゴ Pro W3", sans-serif;
  background-color: #e7eaf3 !important;
}

header{
  grid-area: header;
}

main{
  grid-area: center;
}

.passwordChangeForm{
  border: 1.5px solid rgba(0,0,255,0.3);
  border-radius: 1%;
  max-width: 400px;
  padding: 20px 0 40px 60px;
  margin: 0 auto;
}

.input_form{
  width: 300px;
  height: 30px;
}

.changeButton{
  background-color: #fff;
  font-size: 25px;
  width: 300px;
  border: 1px solid rgb(150, 150, 255);
  color: rgb(10, 10, 255);
  outline: none;
  margin-top: 20px;
}

.changeButton:focus{
  outline: none;
  border: 3px solid rgba(0,0,255,0.3);
}

footer{
  grid-area: footer;
}

@media (min-width:1800px){
  .passwordChangeForm{
    margin-top: 125px;
  }
}