body{
  margin: 0;
  display: grid;
  grid-template: 
  "...... ...... ...... ...... ......"
  "...... header header header ......"  50px
  "...... ...... ...... ...... ......"
  "...... center center center ......"  450px
  "...... ...... ...... ...... ......"
  "...... footer footer footer ......"  300px
  "...... ...... ...... ...... ......"
  / auto  auto   minmax(400px,450px)   auto   auto;
}

header{
  grid-area: header;
}

main{
  grid-area: center;
}

.passwordChangeForm{
  border: 1.5px solid rgba(0,0,255,0.3);
  border-radius: 1%;
  max-width: 400px;
  padding: 20px 0 40px 60px;
  margin: 0 auto;
}

.input_form{
  width: 300px;
  height: 30px;
}

.changeButton{
  background-color: rgb(250, 203, 117);
  font-size: 25px;
  width: 300px;
  border: orange solid 1px ;
  outline: none;
  margin-top: 20px;
}

footer{
  grid-area: footer;
}