body{
  margin: 0;
  display: grid;
  grid-template: 
  "...... ...... ...... ...... ......"
  "header header header header header"  100px
  "...... ...... ...... ...... ......"
  "...... center center center ......"  300px
  "...... ...... ...... ...... ......"
  "...... footer footer footer ......"  200px
  "...... ...... ...... ...... ......"
  / auto  auto   minmax(400px,450px)   auto   auto;
}

.all_body{
  position: absolute;
  margin-top: 90px;
  background-color: rgba(0,0,0,0.5);
}

header{
  grid-area: header;
  background-color: rgba(102, 102, 102, 0.096);
  height: 100px;
  padding-top: 20px;
}

.header_contents{
  width: 1000px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.topBack{
  display: flex;
}

.icon{
  width: 300px;
}

.iconTitle{
  font-size: 30px;
  margin: 0px;
  margin-left: 20px;
}

.all_body{
  position: absolute;
  margin-top: 90px;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.userName:hover,.cart_a:hover{
  color: rgba(255, 155, 25, 0.808);
}

a[href^="../Top"]{
  color: rgb(0, 81, 255,0.5);
}

a[href^="../Top"]:hover{
  color: rgba(0, 81, 255,1);
}

.userContents{
  list-style: none;
  position: absolute;
  top: -250px;
  right: 320px;
  margin: 0;
  background-color: #ffffff;
  width: 180px;
  padding-right: 15px;
  z-index: 2;
}

.userContents > li > a:hover{
  color: rgba(255, 155, 25, 0.808);
  border-bottom: 1px solid rgba(255, 155, 25, 0.808);
}

.userContents:before{
  content: "";
  position: absolute;
  top: -30px;
  left: 30%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #ffffff;
}

.userContents > li{
  padding: 10px 0;
}

#search_bar{
  padding: 10px 15px;
}

#submit{
  padding: 10px;
}

#cart_tag{
  padding-left: 40px;
}

.userName,.cart_a{
  font-size: 20px;
  text-decoration: none;
}

a{
  color: #333;
  text-decoration: none;
}

main{
  grid-area: center;
  width: 600px;
  margin: 0 auto;
}

.contents{
  border: 1.5px solid rgba(0,0,255,0.3);
  margin-top: 40px;
  padding: 30px;
}

.result > p{
  font-size: 30px;
  font-weight: 300;
  margin: 25px 0;
}

.result > a{
  font-size: 25px;
}



footer{
  grid-area: footer;
}